/* latin-ext */
@font-face {
  font-family: 'Chelsea Market';
  font-style: normal;
  font-weight: 400;
  src: local('Chelsea Market'), local('ChelseaMarket-Regular'), url(https://fonts.gstatic.com/s/chelseamarket/v4/qSdzwh2A4BbNemy78sJLfNpTH3z621gHHpxD-3b7j0o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Chelsea Market';
  font-style: normal;
  font-weight: 400;
  src: local('Chelsea Market'), local('ChelseaMarket-Regular'), url(https://fonts.gstatic.com/s/chelseamarket/v4/qSdzwh2A4BbNemy78sJLfBRWMfMQaj_KSrIuqJtfm2o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.modal {
	position: absolute;
	width: 100%;
	height: 100%;
}

.banner .container {
	background-color: #000;
}

div.page-content {
	min-height: 600px;
}

div.banner {
	min-height: 0px;
}

body .page-content div.main p {
	color: rgb(75, 8, 81);
}

iframe.signup-form {
	width: 100%;
	height: 900px;
	border: 0px;
}
div#signup-loading {
	color: white;
	font-size: xx-large;
	text-align: center;
	width: 100%;
	margin-top: 100px;
	position: absolute;
}
div#signup-loading img {
	height: 200px;
	width: 200px;
}

.learnmore .main p {
	background: rgba(255,255,255,0.9);
	padding: 10px 20px;
	margin: 0 auto;
}

.classes-main {
	padding: 20px 10px;
	margin: 0em 0em 1em 0em;
}
div.contact  {
	margin: 0 20% 3% 20%;
	width: 60%;
	background-color: white;
	padding: 5px;
}
.contact .main {
	margin: 2% 5%;
}
.contact .main h3 {
	font-size: 2em;
	color:#A0431B;
	font-family: 'Kreon', serif;
	padding-bottom: 3px;
}
.contact .main p {
	text-align: justify;
	font-size: 1em;
	color: #000;
	margin: 0px 10px 10px 10px;
	line-height: 1.3em;
}
.contact .map {
	margin: 5%;
	height: 420px;
	border: 1px solid black;
}
.contact #contact-loading{
	height: 420px;
	width: 52%;
	position: absolute;
}
.contact #contact-loading img{
	height: 100%;
	width: 100%;
}

.blog-main {
	background: #fff;
	margin: 0em 20% 0em 20%;
}
.blog-container {
	padding: 5%;
}
.blog-container .blog-header h3{
	color: #27A8C7;
	font: normal normal normal 25px/1.4em Arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;
}
.blog-container .sub-header{
	color: #9711A3;
	font: normal normal normal 12px/1.4em Arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;
}
.blog-container .blog-content {
	margin: 10px 0;
	line-height: 1.8em;
}
.blog-content .paragraph {
	padding: 10px 0px;
}
.blog-content h3 {
	text-decoration: underline;
}
.blog-container .blog-content .blogmain-right p{
	margin-bottom: 10px;
}
.blog-container .blog-content .blogmain-right a.button{
	font-size: 1em;
	color: #fff;
	background: #A0431B;
	padding: 0.6em 1em;
	display: block;
	width: 200px;
	text-align: center;
	border-radius: 3px;
	margin-top: 1.2em;
	float: left;
	margin: 20PX 20PX 0 0;
	transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s, color 0.4s ease 0s;
	cursor: pointer !important;
}
.blog-container .blog-content .blogmain-right a:hover{
	color: #fff;
	background: red;
	border-color: red;
}
	

#navbar {
	font: normal normal bold 24px/1.4em 'Chelsea Market',fantasy;
}

body {
	background: url(../rsc/wood-bg2.jpg);
}
/* override bg image */
body {
	background: url(../rsc/wood-bg.jpg);
}
