<div class="blog-main">
	<div class="blog-container">
		<div class="blog-1">
			<div class="blog-header">
				<div>
					<h3>Is School Enough For Your Children's Education?</h3>
				</div>
				<div>
					<span class="sub-header">Januart 26, 2016 | Raphael Kok</span>
				</div>
			</div>
			<div class="blog-content">
				<div class="col-md-4 blogmain-left">
					<a href="#"><img src="rsc/3-kids.jpg" alt="" class="img-responsive"></a>
				</div>
				<div class="col-md-8 blogmain-right">
					<div class="paragraph">
						<p>Mark Twain once said: “I have never let my schooling interfere with my education”.</p>
						<p>How true. It’s not that school is bad for children. But school may not be enough for their education.</p>
						<p>Gone are the days when enrolling into school is a sure formula for success. These days, success goes to the likes of Bill Gates (who tirelessly tinkered with things in the garage) and Jack Ma (who didn’t let rejection from Harvard blunt his ambitions). Success – now more than ever – is borne out of knowledge and grit.</p>
						<p>Yes, school is important. But equally important is learning outside school. Here are 3 reasons why:</p>
					</div>
					<div class="paragraph">
						<h3>1. Staying ahead of competition</h3>
						<pLiteracy levels have increased. Almost every child now goes to school. Good grades are commonplace. On one hand, such trends paint a rosy picture: more children are getting smarter. But they also lead to another uncomfortable truth: competition is getting tougher.</p>
						<p>So how can students set themselves apart?</p>
						<p>By diversifying their studies and skills, that’s how. Academic results only open the first door. After that, more doors await. Problem-solving tests. Group assignments. Individual interviews. University scholarships for students and job vacancies for graduates are limited. Only those with all-round skills to complement their academic results can pass through.</p>
						<p>In a tough field of competition, every extra edge counts. Being wise beyond your age is definitely one good way to pull yourself ahead.</p>
					</div>
					<div class="paragraph">
						<h3>2. Keeping up with new developments</h3>
						<p>What we learn today, may not be relevant tomorrow. Today, quantum physics is a mere theory. Next year, it may be proven to be true and change the way we design spaceships.</p>
						<p>Thanks to the rapid pace of scientific discoveries, the world does not stand still. Technology can disrupt industries, sometimes driving them to extinction. Brands like Kodak and Nokia are now but forgotten. Futuristic inventions like 3D-printing, robotics and AI threaten to put humans out of work in manufacturing factories.</p>
						<p>School syllabus is always slow to react to changes. For instance, software engineering is gaining importance in fields like biotech and physics. And yet, schools don’t give enough attention to computer science.</p>
						<p>Hence, students need to stay abreast with the ever-changing world of science and technology.</p>
					</div>
					<div class="paragraph">
						<h3>3. Building multi-disciplinary knowledge</h3>
						<p>In the old days, a worker only needs to know a few basic things, and he’s set for life. A farmer knows a lot about plants, soil composition, irrigation and weather – but little else.</p>
						<p>But not anymore. Businesses are becoming more complex. Today, an enterprising farmer should consider investing in genetically-enhanced seeds and pesticide-spraying drones.</p>
						<p>In school, children are taught subjects in isolation. But they are better off learning things holistically. For example, take science and geography. Understanding hazardous chemical reactions and their effects on the climate and environment may inspire ideas to reduce pollution. And through experiments, students are able to see with their own eyes how science affects their everyday lives. That way, studying won’t seem like a bore and chore anymore.</p>
						<p>Practical lessons are always more interesting. They motivate children to study harder and smarter.</p>
					</div>
					<div class="paragraph">
						<h3>Learning Beyond School</h3>
						<p>Mark Twain was right.</p>
						<p>Children learn a lot from school. But that shouldn’t stop them from learning much more outside the classroom.</p>
						<p>Constant practical learning is what completes a child’s education.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>