<div class="blog-main">
	<div class="blog-container">
		<div class="blog-1">
			<div class="blog-header">
				<div>
					<h3>Is School Enough For Your Children's Education?</h3>
				</div>
				<div>
					<span class="sub-header">Januart 26, 2016 | Raphael Kok</span>
				</div>
			</div>
			<div class="blog-content">
				<div class="col-md-4 blogmain-left">
					<a href="#"><img src="rsc/3-kids.jpg" alt="" class="img-responsive"></a>
				</div>
				<div class="col-md-8 blogmain-right">
					<p>Mark Twain once said: “I have never let my schooling interfere with my education”.</p>
					<p>How true. It’s not that school is bad for children. But school may not be enough for their education.</p>
					<p>Gone are the days when enrolling into school is a sure formula for success. These d...</p>
					<a class="button">Read More</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>