<!--classes start here-->
<div class="classes">
	<div class="container">
		<div class="classes-main">
			<div class="classes-top">
				<h2>Classes</h2>
				<div class="col-md-4 classestop-left">
					<a href="#"><img src="rsc/trial_class.jpg" alt="" class="img-responsive"></a>
				</div>
				<div class="col-md-8 classestop-right">
					<h4>Trial Lessons</h4>
					<h5>15th July to 31st July 2016</h5>
					<p>Not sure if this is the place your child wants to go to? Try it! We conduct free trial lessons for children to really have a hands-on experience conducting science experiments before deciding to join our weekly lessons.</p>
					<a href="#signup">Book a trial lesson</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="classes-main">
			<div class="classes-top">
				<div class="col-md-4 classestop-left">
					<a href="#"><img src="rsc/weekly_class.jpg" alt="" class="img-responsive"></a>
				</div>
				<div class="col-md-8 classestop-right">
					<h4>Classes Schedule</h4>
					<h5>4pm - 6pm | 7pm - 9pm on weekdays</h5>
					<h5>10am - 12pm | 1pm - 3pm | 4pm - 6pm | 7pm - 9pm on weekends</h5>
					<p>We visit our Science Kids once a week to do experiments together. The class is 1.5 hour long and Science Kids conduct two to three experiments during the class. At the end of the experiments, children get to keep their specimens! Feel free to book a class with us. </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="classes-main">
			<div class="classes-top">
				<div class="col-md-4 classestop-left">
				</div>
				<div class="col-md-8 classestop-right">
					<h4>Experiment Hours</h4>
					<p>Mon - Fri: 4pm - 9pm</p>
					<p>Sat - Sun: 10am - 9pm</p>
					
					<br>
					
					<h4>﻿Our program is divided into three levels:</h4>
					<p>Argon Adventurers : Ages  6 - 8</p>
					<p>Xenon Xplorers : Ages  9 - 11</p>
					<p>Helium Heroes : Ages 12 -13</p>
					
					<div class="clearfix"> </div>
					<a href="#signup">Sample Experiments</a>
					<a href="#signup">Book a class</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--classes end here-->
