<!--splash start here-->
<div class="splash" style="background: url(rsc/smart_kid.jpg)no-repeat top; background-size: 88%;">
	<div class="container">
		<div class="banner-bottom">
			<div class="bann-para">
				<h2>Be part of the revolution</h2>
				<p>Sign up now!!!</p>
			</div>
			<a href="#">Sign Up</a>
		</div>
	</div>
</div>
<!--header end here-->
<!--welcome start here-->
<div class="welcome" style="background: url(rsc/galaxy.jpg)no-repeat; background-size: cover;">
	<div class="modal">
	</div>
	<div class="container">
		<div class="main">
			<h3>Welcome to Science Kids Center!</h3>
			<p>
				From a grain of sand to the vast galaxy, science uncovers secrets around you and me. Science has been a basis of many discoveries in society. Whether it be the history or looking ahead in technological advance, the love of science is something that should be embraced by all.
			</p>
			<p>
				At Science Kids center, we accompany our&nbsp;children to&nbsp;discover the wonders of science and&nbsp;inspire them&nbsp;to imagine and invent from a young age.&nbsp;Kids love to ask questions and wonder about the answers! Our mission is to walk our little Einsteins through this process of discovery by doing fun experiments together. The science of today is the technology of tomorrow and the best way to learn is by doing!
			</p>
		</div>
	</div>
</div>
<!--welcome end here-->
<!--learnmore start here-->
<div class="learnmore">
	<div class="container">
		<div class="main">
			<h3>Why be a Science Kid?</h3>
			<div class="left">
				<img src="rsc/kid_playing.jpg" alt="" class="img-responsive">
			</div>
			<div class="right">
				<p>
					Children don't always know why they do science. In fact, sometimes they don't even know what they are doing is actually science. Mixing dirt and water to make mud; taking things apart and putting them back together; mixing flour and water to make bread; even just questioning about the rainbow in the sky all relate back to science.
				</p>
				<p>
					Sometimes, even adults don't understand how common science is in our daily lives. We use chemistry and its concepts all the time without realizing them. For example, if you are trying to remove stains from your shirt, you are actually using chemical reactions to help you solve that problem.
				</p>
				<p>
					Experiments and demonstrations help children to understand why something happens. At Science Kids center, we have gathered a series of fun and interesting experiments to ignite your little one's interest in science. We believe that children learn much more when they do experiments hands-on by themselves and have fun while doing so.
				</p>
				<p>
					We welcome children between ages 6 to 13 to be our Science Kids. To learn more about the program details and the available lessons slots, click here.
				</p>
			</div>
		</div>
	</div>
</div>
<!--learnmore end here-->
<!--our testimonials start here-->
<div class="testimonials">
	<div class="container">
		<div class="main">
			<div class="top">
				<h3>Testimonials</h3>
			</div>
			<div class="admission-bottom">
				<div class="col-md-6 admission-left">
					<span class="quot1"> </span>
					<div class="quot-text">
						<p>My son has attended similar classes back in South Korea and I am so glad to find a center with similar concept here in KL. The experiments are thoughtful and well-explained. The experiments are very interesting!</p>
						<h4>Kang Yun-Seok</h4>
					</div>
				 <div class="clearfix"> </div>
				</div>
				<div class="col-md-6 admission-left">
					<span class="quot1"> </span>
					<div class="quot-text">
						<p>Children get to learn useful knowledge outside of the fixed education syllabus in school. The experiments give them a very different perspective about science and technology. It is no longer about getting good grades, but about learning in a fun way!</p>
						<h4>Lim Tien Ping</h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
				<div class="col-md-6 admission-left">
					<span class="quot1"> </span>
					<div class="quot-text">
						<p>This concept is great! Primary school children are not taught experiments in school yet. After some exposure to science experiments, my girls start to ask very scientific questions when they observe something new.</p>
						<h4>Janet Tan</h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--our testimonials end here-->